/* Flex */

.flex {
  display: flex;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.space-between {
  @include flex-alignment(space-between);
}

.y-center {
  @include flex-alignment(center);
}

.x-start {
  @include flex-alignment(flex-start);
}

.x-end {
  @include flex-alignment(flex-end);
}
