/* Column system
   Here is 12-column system presented
 */
.row-xs-1,
.row-md-1,
.row-lg-1,
.row-xl-1 {
    width: 8.333333333%;
    display: flex;
    flex-direction: row;
}

.row-xs-2,
.row-md-2,
.row-lg-2,
.row-xl-2 {
    width: 16.666666666%;
    display: flex;
    flex-direction: row;
}

.row-xs-3,
.row-md-3,
.row-lg-3,
.row-xl-3 {
    width: 25%;
    display: flex;
    flex-direction: row;
}

.row-xs-4,
.row-md-4,
.row-lg-4,
.row-xl-4 {
    width: 33.333333333%;
    display: flex;
    flex-direction: row;
}

.row-xs-5,
.row-md-5,
.row-lg-5,
.row-xl-5 {
    width: 41.666666666%;
    display: flex;
    flex-direction: row;
}

.row-xs-6,
.row-md-6,
.row-lg-6,
.row-xl-6 {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.row-xs-7,
.row-md-7,
.row-lg-7,
.row-xl-7 {
    width: 58.333333333%;
    display: flex;
    flex-direction: row;
}

.row-xs-8,
.row-md-8,
.row-lg-8,
.row-xl-8 {
    width: 66.666666666%;
    display: flex;
    flex-direction: row;
}

.row-xs-9,
.row-md-9,
.row-lg-9,
.row-xl-9 {
    width: 75%;
    display: flex;
    flex-direction: row;
}

.row-xs-10,
.row-md-10,
.row-lg-10,
.row-xl-10 {
    width: 83.333333333%;
    display: flex;
    flex-direction: row;
}

.row-xs-11,
.row-md-11,
.row-lg-11,
.row-xl-11 {
    width: 91.666666666%;
    display: flex;
    flex-direction: row;
}

.row-xs-12,
.row-md-12,
.row-lg-12,
.row-xl-12 {
    width: 100%;
    display: flex;
    flex-direction: row;
}

/* Horizontal margins */

.mx-1 {
    margin: 0 4px;
}

.mx-2 {
    margin: 0 8px;
}

.mx-3 {
    margin: 0 12px;
}

.mx-4 {
    margin: 0 16px;
}

/* Vertical margins */

.my-1 {
    margin: 4px 0;
}

.my-2 {
    margin: 8px 0;
}

.my-3 {
    margin: 12px 0;
}

.my-4 {
    margin: 16px 0;
}

/* All-side margins */

.ma-1 {
    margin: 4px;
}

.ma-2 {
    margin: 8px;
}

.ma-3 {
    margin: 12px;
}

.ma-4 {
    margin: 16px;
}

/* Horizontal paddings */

.px-1 {
    padding: 0 4px;
}

.px-2 {
    padding: 0 8px;
}

.px-3 {
    padding: 0 12px;
}

.px-4 {
    padding: 0 16px;
}

/* Vertical paddings */

.py-1 {
    padding: 4px 0;
}

.py-2 {
    padding: 8px 0;
}

.py-3 {
    padding: 12px 0;
}

.py-4 {
    padding: 16px 0;
}

/* All-side paddings */

.pa-1 {
    padding: 4px;
}

.pa-2 {
    padding: 8px;
}

.pa-3 {
    padding: 12px;
}

.pa-4 {
    padding: 16px;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Floats */
.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

/* Flex */
.flex {
    display: flex;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.y-center {
    display: flex;
    justify-content: center;
}

.x-start {
    display: flex;
    justify-content: flex-start;
}

.x-end {
    display: flex;
    justify-content: flex-end;
}

.text-center {
    text-align: center;
    justify-content: center;
}

.text-left {
    text-align: left;
    justify-content: left;
}

.text-right {
    text-align: right;
    justify-content: right;
}

@media screen and (max-width: 575.98px), screen and (max-device-width: 575.98px) {
    .row-xs-1,
    .row-xs-2,
    .row-xs-3,
    .row-xs-4,
    .row-xs-5,
    .row-xs-6,
    .row-xs-7,
    .row-xs-8,
    .row-xs-9,
    .row-xs-10,
    .row-xs-11,
    .row-xs-12 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 767.98px), screen and (max-device-width: 767.98px) {
    .row-md-1,
    .row-md-2,
    .row-md-3,
    .row-md-4,
    .row-md-5,
    .row-md-6,
    .row-md-7,
    .row-md-8,
    .row-md-9,
    .row-md-10,
    .row-md-11,
    .row-md-12 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 991.98px), screen and (max-device-width: 991.98px) {
    .row-lg-1,
    .row-lg-2,
    .row-lg-3,
    .row-lg-4,
    .row-lg-5,
    .row-lg-6,
    .row-lg-7,
    .row-lg-8,
    .row-lg-9,
    .row-lg-10,
    .row-lg-11,
    .row-lg-12 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

@media screen and (max-width: 1199.98px), screen and (max-device-width: 1199.98px) {
    .row-xl-1,
    .row-xl-2,
    .row-xl-3,
    .row-xl-4,
    .row-xl-5,
    .row-xl-6,
    .row-xl-7,
    .row-xl-8,
    .row-xl-9,
    .row-xl-10,
    .row-xl-11,
    .row-xl-12 {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

}

