.hfv-button {
  border-radius: 3px;
  padding: .5rem;
}

.hfv-button {
  border-radius: 3px;
  padding: .5rem;

  &--big {
    font-size: 2rem;
    padding: .75rem;
  }

  &--small {
    font-size: .75rem;
  }

  &:disabled {
    background-color: #e2e3e5;
  }

  &--primary {
    background-color: #cce5ff;
  }

  &--secondary {
    background-color: #d6d8d9;
  }

  &--warning {
    background-color: #fff3cd;
  }

  &--blue-aqua {
    background: linear-gradient(45deg, #2f3ffa, #2cbbf6);
    color: white;
  }
}
