.hfv-textarea {
  border-radius: 5px;
  border: 1px solid black;
  padding: 0.25rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);

  &:focus {
    border: 2px solid aquamarine;
    transition-duration: .15s;
  }
  &:invalid {
    border: 2px solid indianred;
    transition-duration: .15s;
  }
  &:disabled {
    background-color: gray;
    color: white;
  }
  &:read-only {
    background-color: lightblue;
    color: white;
  }
}

